<div id="accessFormModal" class="modalContainer">

    <div class="dtk-theme-cauldron-inverse modalContent">
        <div id="accessForm" class="form-section">
            <div class="form-field-section-medium">
                <p>Scope:</p>
                <select name="scope" id="scope" required>
                    <option value="Adventures">Adventures</option>
                    <option value="Groups">Groups</option>
                    <option value="Events">Events</option>
                    <option value="Paths">Paths</option>
                    <option value="Sites">Sites</option>
                    <option value="Users">Users</option>
                </select>
            </div>
            <div class="form-field-section-medium">
                <p>Group:</p>
                <select name="group" id="group" required></select>
            </div>
            <div class="flex-break"></div>
            <div>
                <button class="modalCloser2" onclick="onCloseAccessModal()">CLOSE</button> &nbsp;
                <button class="modelCloser2" onclick="onSaveAccess(this)">SAVE</button>
            </div>
        </div>
    </div>
</div>
