<div id="accessFormModal" class="modalContainer">

    <div id="accessForm" class="dtk-theme-cauldron-inverse modalContent">
        <div class="fileFormRow">
            <div class="fileFormColumn third">
                <p>Scope:</p>
                <select name="scope" id="scope" required>
                    <option value="Adventures">Adventures</option>
                    <option value="Groups">Groups</option>
                    <option value="Users">Users</option>
                    <option value="Events">Events</option>
                </select>
            </div>
            <div class="fileFormColumn third">
                <p>Group:</p>
                <select name="group" id="group" required></select>
            </div>
        </div>
        <div class="fileFormRow">
            <button class="modalCloser2" onclick="onCloseAccessModal()">CLOSE</button> &nbsp;
            <button class="modelCloser2" onclick="onSaveAccess()">SAVE</button>
        </div>
    </div>
</div>
