<div id="responseDetailsModal" class="modalContainer">

    <div class="dtk-theme-cauldron-inverse modalContent">
        <div class="fileNavButton" style="text-align:right;width:100%;">
            <span id="navMessage"></span>
            <button onclick="onNavigateResponse('prev')">PREV</button>
            <button onclick="onNavigateResponse('next')">NEXT</button>
        </div>
        <div>
            <h2 id="responseUsername"></h2>
        </div>
        <div id="responseDetailsPopup" class="form-section2">
        </div>
        <div class="fileEditButtons">
            <button class="modalCloser2" onclick="onCloseModal()">CLOSE</button> &nbsp;
        </div>
    </div>
    
</div>
