<tr class="fileRow" data-adventure-id="{{AdventureID}}" data-content-id="{{ContentID}}" data-content-type="{{ContentType}}">
    <td></td>
    <td>
        <div>
            <i class="fa-solid fa-eye pointer openLinkIcon true" data-href="https://adventures.dejaithekid.com/adventure/?id={{AdventureID}}&content={{ContentID}}" onclick="MyUrls.navigateTo(this.getAttribute('data-href'), '_blank')"></i>
        </div>
        <!-- <div class="centered">
            <input class="rowSelectorCheckbox" type="checkbox" name="rowSelector" id="row-{{ContentID}}" class="pointer" onclick="onSelectRow(this)">
        </div> -->
    </td>
    <!-- <td onclick="onOpenModal(this)">
        <p class="fieldCell field" data-file-key="adventure" data-file-val="{{AdventureName}}" onclick="onOpenModal(this)">{{AdventureName}}</p>
    </td> -->
    <td onclick="onOpenModal(this)" >
        <p class="fieldCell field" data-file-key="name" data-file-val="{{Name}}" onclick="onOpenModal(this)">{{Name}}</p>
    </td>
    <td onclick="onOpenModal(this)" >
        <p class="fieldCell field" data-file-key="creator" data-file-val="{{Creator}}" onclick="onOpenModal(this)">{{Creator}}</p>
    </td>
    <td onclick="onOpenModal(this)">
        <p class="fieldCell field" data-file-key="showCreator" data-file-val="{{ShowCreator}}" onclick="onOpenModal(this)">{{ShowCreator}}</p>
    </td>
    <td onclick="onOpenModal(this)" class="tableCellOnMobile">
        <p class="fieldCell field" data-file-key="date" data-file-val="{{Date}}" onclick="onOpenModal(this)">{{Date}}</p>
    </td>
    <td >
        <span class="fieldCell field" data-file-key="preview" data-file-val="{{Preview}}"></span>
        <span class="fieldCell field" data-file-key="adventure" data-file-val="{{AdventureID}}"></span>
        <span class="fieldCell field" data-file-key="order" data-file-val="{{Order}}"></span>
    </td>
</tr>