<div id="adventuresTabSection" class="hidden hideOnTabSwitch showOnAdventuresLoaded tab-section" data-tab-name="adventures"  style="position:relative;">
    
    <div class="tab-sections">
        <div class="listofContentSection">
            <h3>List of Adventures &mdash; <button id="newAdventureButton" onclick="onAddAdventure()">ADD</button> </h3>
            <!-- Shows the list of adventures to pick from -->
            <div id="listOfAdventures" class="listOfContent" ></div>
        </div>
    
        <div  id="adventureDetailsSection" class="hidden hideOnTabSwitch showOnAdventureSelected contentDetailsSection">
            <h3 id="adventureName">Adventure Details &mdash; <button onclick="onSaveAdventureDetails(this)">SAVE</button> </h3>
            
            <div id="adventureDetailsForm" class="form-section">
                <input id="adventureID" type="text" name="adventureID" required hidden />
                
                <div class="adventureDetailsFormSubsection form-field-section-small">
                    <label for="status">Status: </label><br/>
                    <select class="form-field" name="status" id="status" required>
                        <option value="Active">Active</option>
                        <option value="Draft">Draft</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                </div>

                <div class="adventureDetailsFormSubsection form-field-section-medium">
                    <label for="name">Name: </label><br/>
                    <input class="form-field" id="name" type="text" name="name" placeholder="Enter Adventure Name" required />
                </div>
            
                <div class="adventureDetailsFormSubsection form-field-section-small">
                    <label for="name">Date: </label><br/>
                    <input class="form-field" id="date" type="text" name="date" placeholder="Enter Adventure Date" required />
                </div>
                
                <div class="flex-break"></div>

                <div class="adventureDetailsFormSubsection form-field-section-small">
                    <label for="status">Access Type: </label><br/>
                    <select class="form-field" name="accessType" id="accessType" required>
                        <option value="Public">Public</option>
                        <option value="Group">Group</option>
                    </select>
                </div>

                <div class="adventureDetailsFormSubsection form-field-section-small">
                    <label for="accessGroup">Access Group: </label><br/>
                    <select class="form-field" name="accessGroup" id="accessGroup"></select>
                </div>
                
                <div class="adventureDetailsFormSubsection form-field-section-large">
                    <label for="thumbnail">Thumbnail: </label><br/>
                    <input class="form-field" id="thumbnail" type="text" name="thumbnail" placeholder="Enter URL to image" />
                </div>
            
                <div class="adventureDetailsFormSubsection form-field-section-large">
                    <label for="description">Description:</label><br/>
                    <textarea class="form-field" name="description" id="description" rows="5"></textarea>
                </div>
            </div>

            <div id="adventureFilesSection" class="hidden showOnAdventureSelected">
                <h3>The Files</h3>
                <table id="adventureFiles" style="width:99%; text-align:left; border-spacing:0; ">
                    <colgroup>
                        <col style="width:3%;">
                        <col style="width:3%;">
                    </colgroup>
                    <thead>
                        <tr class="showBottomBorder">
                            <th>
                                <p class="hidden showOnFilesLoading hideOnFilesLoaded">
                                    <i class="fa-solid fa-dharmachakra dtk-spinning dtk-spinning-1500" style="font-size:150%;"></i>
                                </p>
                            </th>
                            <th>
                                <!-- <input class="rowSelectorCheckbox" type="checkbox" name="rowSelector" id="row-{{ContentID}}" class="pointer" onclick="onSelectRow(this)"> -->
                            </th>
                            <!-- <th><p class="hidden1 showOnLoaded">Adventure</p></th> -->
                            <th><p class="hidden1 showOnLoaded">Name</p></th>
                            <th><p class="hidden1 showOnLoaded">Creator</p></th>
                            <th><p class="hidden1 showOnLoaded">Show Creator?</p></th>
                            <th><p class="hidden1 showOnLoaded">Date</p></th>
                        </tr>
                    </thead>
                    <tbody id="listOfAdventureFiles"></tbody>
                </table>
            </div>
        </div>
            

    </div>
    <div id="fileEditModal"></div>
</div>