<div id="eventsTabSection" class="hidden hideOnTabSwitch showOnEventsLoaded tab-section" data-tab-name="events"  style="position:relative;">
    
    <div class="tab-sections">
        <div class="listofContentSection">
            <h3>
                <i class="listToggleIcon fa-solid fa-circle-chevron-right" onclick="onToggleList()"></i>
                List of Events &mdash; 
                <button id="newEventButton" onclick="onAddEvent()">ADD</button> 
            </h3>
            <!-- Shows the list of events to pick from -->
            <div id="listOfEvents" class="listOfContent" ></div>
        </div>
    
        <div  id="eventDetailsSection" class="hidden hideOnTabSwitch showOnEventSelected contentDetailsSection">
            <h3 id="eventName">Event Details &mdash; <button onclick="onSaveEventDetails(this)">SAVE</button> </h3>
            
            <div id="eventDetailsForm" class="form-section">
                <input id="eventID" type="text" name="eventID" required hidden />
                
                <div class="eventDetailsFormSubsection form-field-section-small">
                    <label for="status">Status: </label><br/>
                    <select class="form-field" name="status" id="status" required>
                        <option value="Active">Active</option>
                        <option value="Draft">Draft</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                </div>

                <div class="eventDetailsFormSubsection form-field-section-medium">
                    <label for="name">Name: </label><br/>
                    <input class="form-field" id="name" type="text" name="name" placeholder="Enter Event Name" required />
                </div>

                <div class="eventDetailsFormSubsection form-field-section-medium">
                    <label for="name">Event Key: </label><br/>
                    <input class="form-field" id="eventKey" type="text" name="eventKey" placeholder="Enter Event Key" required />
                </div>

                <div class="flex-break"></div>

                <div class="eventDetailsFormSubsection form-field-section-small">
                    <label for="status">Access Type: </label><br/>
                    <select class="form-field" name="accessType" id="accessType" required>
                        <option value="Public">Public</option>
                        <option value="Login">Login</option>
                        <option value="Group">Group</option>
                    </select>
                </div>

                <div class="eventDetailsFormSubsection form-field-section-small">
                    <label for="accessGroup">Access Group: </label><br/>
                    <select class="form-field" name="accessGroup" id="accessGroup"></select>
                </div>
                
                <!-- <div class="eventDetailsFormSubsection form-field-section-large">
                    <label for="thumbnail">Thumbnail: </label><br/>
                    <input class="form-field" id="thumbnail" type="text" name="thumbnail" placeholder="Enter URL to image" />
                </div> -->
            </div>

            <div id="eventResponsesSection" class="hidden showOnEventSelected">
                <h3>The Responses</h3>
                <table id="eventResponses" style="width:99%; text-align:left; border-spacing:0; ">
                    <colgroup>
                        <col style="width:5%;">
                        <col style="width:20%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th colspan="3">
                                <div id="responsesSearchSection">
                                </div>
                            </th>
                        </tr>
                        <tr class="showBottomBorder">
                            <th>
                                <p class="hidden showOnResponsesLoading hideOnResponsesLoaded">
                                    <i class="fa-solid fa-dharmachakra dtk-spinning dtk-spinning-1500" style="font-size:150%;"></i>
                                </p>
                            </th>
                            <th><p class="hidden1 showOnLoaded">Response Date</p></th>
                            <th><p class="hidden1 showOnLoaded">User</p></th>
                        </tr>
                    </thead>
                    <tbody id="listOfEventResponses"></tbody>
                </table>
            </div>
        </div>
            

    </div>
    <div id="fileEditModal"></div>
</div>