<div id="groupsTabSection" style="position:relative" data-tab-name="groups" class="hidden showOnGroupsLoaded hideOnTabSwitch tab-section">

    <div class="tab-sections">

        <div class="content-select-section">
            <button onclick="onAddGroup()">Add Group</button> <br/>
            <!-- Shows the list of adventures to pick from -->
            <div id="listOfGroups" style="max-height:400px; padding-left:1%; "></div>
        </div>

        <!-- The Group details & list of users -->
        <div id="groupDetailsSection" class="hidden showOnGroupSelected contentDetailsSection">

            <div>
                <h3 id="groupName"> The Details &mdash; <button onclick="onSaveGroupDetails()">SAVE</button></h3>
    
                <div id="groupDetailsForm">
                    <div class="groupDetailsFormSubsection">
                    </div>
                    
                    <div class="groupDetailsFormSubsection">
                        <label for="name">Name: </label><br/>
                        <input id="name" type="text" name="name" placeholder="Enter Group Name" style="width:50%" required />
                    </div>
        
                    <div class="groupDetailsFormSubsection">
                        <label for="name">Key: </label><br/>
                        <input id="key" type="text" name="key" placeholder="Enter Group Name" style="width:50%" required />
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>