<div id="groupsTabSection" style="position:relative" data-tab-name="groups" class="hidden showOnGroupsLoaded hideOnTabSwitch tab-section">

    <div class="tab-sections">

        <div class="listofContentSection">
            <h3>List of Groups &mdash; <button onclick="onAddGroup()">ADD</button> </h3>
            <!-- Shows the list of adventures to pick from -->
            <div id="listOfGroups" class="listOfContent"></div>
        </div>

        <!-- The Group details & list of users -->
        <div id="groupDetailsSection" class="hidden showOnGroupSelected hideOnTabSwitch contentDetailsSection">

            <div>
                <h3 id="groupName">Group Details &mdash; <button id="saveGroupDetailsButton" onclick="onSaveGroupDetails()">SAVE</button></h3>
    
                <div id="groupDetailsForm">
                    <div class="groupDetailsFormSubsection">
                        <label for="name">Name: </label><br/>
                        <input id="value" type="text" name="value" placeholder="Enter Group Name" style="width:50%" required />
                    </div>
        
                    <div class="groupDetailsFormSubsection">
                        <label for="name">Key: </label><br/>
                        <input id="key" type="text" name="key" placeholder="Enter Group Key" style="width:50%" required />
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>