<div id="pathsTabSection" class="hidden showOnPathsLoaded hideOnTabSwitch tab-section" data-tab-name="paths">

    <div class="tab-section-subsections">
        <div class="listofContentSection">
            <h3>
                <i class="listToggleIcon fa-solid fa-circle-chevron-right" onclick="onToggleList()"></i>
                List of Paths &mdash; 
                <button onclick="onAddPath()">ADD</button>
            </h3>
            <div id="searchPaths" class="searchContainer"></div>
            <!-- Shows the list of adventures to pick from -->
            <div id="listOfPaths" class="listOfContent"></div>
        </div>

        <!-- The Path details & list of users -->
        <div id="pathDetailsSection" class="hidden hideOnTabSwitch showOnPathSelected contentDetailsSection">

            <div>
                <h3 id="pathName">Path Details &mdash; <button onclick="onSavePathDetails(this)">SAVE</button></h3>
    
                <div id="pathDetailsForm">
                    <div class="pathDetailsFormSubsection">
                    </div>
                    
                    <div class="pathDetailsFormSubsection">
                        <label for="key">Code: </label><br/>
                        <input id="key" type="text" name="key" placeholder="Enter Path Key" style="width:50%" required />
                    </div>
        
                    <div class="pathDetailsFormSubsection">
                        <label for="path">Path: </label><br/>
                        <input id="path" type="text" name="path" placeholder="Enter Path Value" style="width:50%" required />
                    </div>

                    <div class="pathDetailsFormSubsection" style="padding-top:7%;">
                        <button onclick="onOpenPreview(this)">PREVIEW</button>
                        &nbsp;
                        <button id="copyPathPreview" onclick="onCopyPathCode(this)">COPY</button>
                        <span id="copyPathMessage" class="hidden">Path copied</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>