<div id="usersTabSection" class="hidden showOnUsersLoaded hideOnTabSwitch tab-section" data-tab-name="users">
    
    <div class="tab-section-subsections">
        <p class="objectSyncMessage">
            <span class="status">Syncing </span> &nbsp;
            <i class="fa-solid fa-spinner dtk-spinning dtk-spinning-1500 hideOnEventsSynced showOnEventsSyncing" style="font-size:120%;"></i>
        </p>
        <div class="listofContentSection">
            <h3>
                <i class="listToggleIcon fa-solid fa-circle-chevron-right" onclick="onToggleList()"></i>
                List of Users
            </h3>
            <!-- Shows the list of adventures to pick from -->
            <div id="searchUsers" class="searchContainer"></div>
            <div id="listOfUsers" class="listOfContent"></div>
        </div>
        
        <!-- The User details & list of users -->
        <div id="userDetailsSection" class="hidden hideOnTabSwitch showOnUserSelected contentDetailsSection">

            <div >
                <h3 id="userName">User Details</h3>
    
                <div id="userDetailsForm" class="form-section">

                    <div class="userDetailsFormSubsection form-field-section-small">
                        <label for="firstName">First Name: </label><br/>
                        <input id="firstName" type="text" name="firstName" readonly />
                    </div>
    
                    <div class="userDetailsFormSubsection form-field-section-small">
                        <label for="lastName">Last Name: </label><br/>
                        <input id="lastName" type="text" name="lastName" readonly />
                    </div>
                    <div class="flex-break"></div>
                    <div class="userDetailsFormSubsection form-field-section-small">
                        <label for="emailAddress">Email: </label><br/>
                        <input id="emailAddress" type="text" name="emailAddress" readonly />
                    </div>
                    <div class="userDetailsFormSubsection form-field-section-small">
                        <label for="phoneNumber">Phone Number: </label><br/>
                        <input id="phoneNumber" type="text" name="phoneNumber" readonly />
                    </div>
                </div>
            </div>
            <div class="hidden showOnUserSelected" style="padding-top:1%;">
                <h3>The Access &mdash; <button id="addAccessButton" name="userKey" onclick="onOpenAccessModal()">Add Access</button></h3>
                <table id="userUsers" style="width:99%; text-align:left; border-spacing:0; ">
                    <thead>
                        <tr class="showBottomBorder">
                        <th>
                            <p class="hidden showOnAccessLoading hideOnAccessLoaded">
                                <i class="fa-solid fa-dharmachakra dtk-spinning dtk-spinning-1500" style="font-size:150%;"></i>
                            </p>
                        </th>
                            <th><p class="hidden1 showOnLoaded">Scope</p></th>
                            <th><p class="hidden1 showOnLoaded">Group</p></th>
                        </tr>
                    </thead>
                    <tbody id="listOfAccess"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>